html{
  background-image: url("background_image.jpg");
}

body {
  margin: auto;
  padding: 20px;
  width: 550px;
  height: 100%;
}

#top-container {
}

.left-side {
  width: 350px;
  position: absolute;
}

.right-side {
  width: 200px;
  margin-left: 350px;
  margin-top: 0px;
  position: relative;
}

.right-side img {
  width: 200px;
  margin-top: 25px;
}