html{
  background-image: url("background_image.jpg");
}

body {
  margin: auto;
  padding: 20px;
  width: 550px;
  height: 100vh;
}

hr {
  margin-top: 70px;
  border-color: #E71C31;
}

a {
  color: blue;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
}

#first-container, #second-container {
  overflow: hidden;
  min-height: 400px;
}

.left-side {
  width: 340px;
  position: absolute;
  margin-top: 0px;
}

#email {
  font-style: italic;
}

#phone {
  font-style: italic;
}

#linkedin {
  font-style: italic;
}

#github {
  font-style: italic;
}

#cv {
  font-weight: bold;
  margin-top: 30px;
}

.right-side {
  width: 210px;
  margin-left: 350px;
  margin-top: 0px;
  position: relative;
}

.right-side img {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

