* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background: #F2F2F2;
    color: black;
    width: 100%;
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: #91010B;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #751717;
    color: white;
  }

  #github-logo {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  .navbar img {
    width: 25px;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    line-height: 25px;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .left-side {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
  }

  .right-side {
    -ms-flex: 15%; /* IE10 */
    flex: 15%;
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
  }

  .right-side a {
    text-decoration: none;
    color: black;
    display: block;
    padding-bottom: 15px;
  }

  .right-side a:hover {
    color: #91010B;
    text-decoration: underline;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    background-color: white;
    padding: 20px;
    width: 100%;
  }

  .main p {
    max-width: 1000px;
  }

  .main img {
    width: 100%;
    height: 100%;
    max-width: 800px;
  }

  address {
    font-style: normal;
  }

  address a {
    text-decoration: none;
    color: black;
  }

  address a:hover {
    color: #91010B;
    text-decoration: underline;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #91010B;
    height: 100px;
    width: 100%;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }