* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  
  .top-container {
    background-color: #E71C31;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* Style the top navigation bar */
  .navbar {
    margin: auto;
    overflow: hidden;
    width: 1000px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #BF1122;
    color: white;
  }

  .middle-container {
    width: 100%;
    margin: auto;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    overflow: hidden;
    max-width: 1000px;
    margin: auto;
    line-height: 25px;
    min-height: 100vh; /* will cover the 100% of viewport */
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .left-side {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    background-color: #F2F2F2;
    padding: 20px;
    width: 100%;
  }

  .left-side a {
    text-decoration: none;
    color: #BF1122;
  }

  .left-side a:hover {
    text-decoration: underline;
  }

  .blog {
    -ms-flex: 15%; /* IE10 */
    flex: 15%;
    background-color: white;
    padding: 20px;
    width: 100%;
  }

  .blog a {
    text-decoration: none;
    color: #BF1122;
    display: block;
    padding-bottom: 15px;
  }

  .blog a:hover {
    text-decoration: underline;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    background-color: white;
    padding: 20px;
    padding-right: 0px;
    width: 100%;
  }

  .main p {
    max-width: 1000px;
  }

  .main img {
    width: 100%;
  }

  .bottom-container {
    background: #E71C31;
    height:100px; 
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }