html{
  background-image: url("background_image.jpg");
}

body {
  margin: auto;
  padding: 20px;
  width: 550px;
  height: 100%;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

a {
  color: #E71C31;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#top-container  {
  overflow: hidden;
}

.left-side {
  width: 350px;
  position: absolute;
}

.right-side {
  width: 200px;
  margin-left: 350px;
  margin-top: 0px;
  position: relative;
}

.right-side img {
  width: 200px;
  margin-top: 20px;
}